page-ver-dados-empresa {
    .avatar-wrapper {
        position: relative;
        width: 200px;
        margin: auto;

        ion-avatar img {
            background-color: #DDDDDD;
            width: 200px;   
            height: 200px;
            margin: auto;
        }

        .avatar-logo {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 45px;
            height: 45px;
        }
    }

}
